@model  LilleHaboov.Models.HomePageViewModel




<div id="carousel-wrapper" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.AdminPanel.CarouselImages.Count(); i++)
        {
            <li data-target="#carousel-wrapper" data-slide-to="@i" @( i == 0 ? "class=\"active\"" : "")></li>

        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @for (int i = 0; i < Model.AdminPanel.CarouselImages.Count(); i++)
        {
            <div class="item @(i == 0 ? "active" : "")">
                <img class="img-responsive carousel-img" src="@Model.AdminPanel.CarouselImages.AsEnumerable().ElementAt(i).Url">
            </div>

        }
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-wrapper" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="catagories-menu">
    @foreach (var item in Model.Catagories)
    {
        @Ajax.ActionLink(item.Name, "GetProducts", new { catagoryId = item.Id }, new AjaxOptions()
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "products-list",
            OnComplete = "SetSelectedCatagory",
            LoadingElementId = "loader",
        }, new { @class = "btn btn-primary btn-catagory", @dataid = item.Id })
    }
    <div class="search-bar-container col-md-6">
        <input type="search" class="form-control search-bar" placeholder="Search..." />
        <button type="button" onclick="getProductsSearch()" class="btn btn-primary btn-search"><span class="glyphicon glyphicon-search"></span></button>
    </div>
</div>
<style>
    .product-card-container{width:@(100 / (Model.AdminPanel.ProductsInRow > 0 ? Model.AdminPanel.ProductsInRow : 1))%}
</style>
<div id="products-container" class="products-container">
    <div id="products-list">

    </div>
    <div id="loader" class="loader">

    </div>
</div>

<script>
    function SetSelectedCatagory() {
        $(".btn-catagory.selected").removeClass("selected");
        $(this).addClass("selected");
    }
    var isLoadingData = false;
    var baseUrl = "Home/GetProducts?";
    function getProducts(options, callback) {
        var catagoryId = $(".btn-catagory.selected").attr("dataid");
        var url = baseUrl + "catagoryId=" + catagoryId;
        for (var key in options) {
            url += "&" + key + "=" + options[key];
        }
        isLoadingData = true;
        $("#loader").show();
        $.get(url, (data) => {
            $("#loader").hide();
            isLoadingData = false;
            callback(data);
        });
    }

    function getProductsSearch() {
        var keywords = $(".search-bar").val();
        getProducts({ keywords: keywords }, (data) => {
            $("#products-list").empty().append(data);
        });
    }

    $(window).on("scroll", function () {
        var scrollPos = $(window).scrollTop();
        var pageStrech = $(document).innerHeight() - $(window).innerHeight();
        const within = 20;
        var isScrollBottom = scrollPos + within > pageStrech;
        if (isScrollBottom && !isLoadingData) {
            //var lastID = Math.max.apply(Math, $("#products-container").children(".product-card-container").map((index, el) => $(el).data("id")));
            var loaded = $("#products-list").children(".product-card-container").length;
            isLoadingData = true;
            getProducts({ loaded: loaded }, (data) => {
                $("#products-list").append(data);
            });
        }
    });

    $(document).ready(() => {
        $(".btn-catagory").first().click();
        $(".search-bar").keyup((e) => {
            if (e.keyCode === 13) {
                $(".btn-search").click();
            }
        });
    })
</script>